@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #c53030;
  --scrollbar-thumb-hover: #9b2c2c;
}

.dark {
  --scrollbar-track: #2d3748;
  --scrollbar-thumb: #9b2c2c;
  --scrollbar-thumb-hover: #c53030;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Smooth transitions for dark mode */
* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}